.draw-buttons{
  display: block;
  width: 20%;
  height: 100%;
  top: 0px;
  position: absolute;
  z-index: 10;
  background: rgb(255,255,255,0.5);
}

.show-me{
  display: block;
  width: 100 px;
  height: 20 px;
  position: absolute;
  opacity: 0.5;
  z-index: 10;
}
